# OS-Gen
#------------------------
.DS_Store
*~


# R
#------------------------
.Rapp.history


# File types
#------------------------
*.xls
*.hdf5


# Dirs
#------------------------
data/
bookdata/
.ipynb_checkpoints/
models/
